block content 
h1(class="text-center mb-5") Welcome to e-Studio v4.0
p(class="ms-2") e-Studio v4.0 relies on new technologies to display and explore your data results.
p(class="ms-2") Marketing Studio hopes you will enjoy the demo.
p(class="ms-2 mb-5") We invite you to click on the left menu to start.
blockquote If you wish to know more about this new release don't hesitate to contact us : +33 1 44 93 22 53 Best Regards

